@charset "utf-8";

body {
	background-image:url(bg.png);
	background-repeat:repeat;
}

select {
	padding:5px;
}

a {
	text-decoration:none;
}

tr {
	border-bottom:#999 solid 1px;
}

#map_container{
	height: 400px;
	width: 550px;
}

.cliente {
	width:900px;
	font-size:12px;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-bottom:5px;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #bfbfbf #bfbfbf #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #bfbfbf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);	
}

.cliente:hover {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;	
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

/* ------ Helpers ------- */

.margin-top {
	margin-top:10px;
}

.margin-left {
	margin-left:15px !important;
}

.radio {
	padding-left:10px;
	line-height:22px;
}

.titulo {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

.height_titulo {
	height: 29px;
	line-height: 29px;
}

.titulo_rojo {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #ed2d2d;
	font-size:13px;
}

.borde_blanco {
	border: 1px solid #ffffff;
}

.borde_gris {
	border: 1px solid #777777;
}

.borde_rojo {
	border-bottom: 1px solid #ed2d2d;
}

.shadow {
	-webkit-box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
}

.radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.resaltado{
	color:#333;
	font-weight:bold;
	text-align:right;	
}

.float-left {
	float: left;
}

.float-right {
	float: right !important;
}

.odd-row{
	background-color: white;
}

.bgcolor {
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
}

.backcolor {
	background-color: #cfcfcf;
}

.caja {
	width:940px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding-top:4px;
	padding-bottom:4px;
}

.centrar {
	margin-left:auto !important;
	margin-right:auto !important;
}

.margin {
	margin:2px;
}

.overflow-auto {
	overflow:auto;
}

.box {
	width:988px;
	height:455px;
	/*float:left;*/
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	text-shadow:#666 1px;	
}

.input {
	box-shadow: 0 1px 2px #DDD;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #DDD;
	background: url(input_bg.gif);
	border: 1px solid #AAA;
	color: #555;
	float: left;
	margin-right: 6px;	
}

/* ------ Fin helpers ------- */

#wrapper {
	width:1000px;
	height:auto;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	font-size:12px;
}

#login {
	width:300px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;	
	text-shadow:#666 1px;	
}

#login input {
  width: 100px !important;
}

#toolbar {
	width:100%;
	height:120px;
	padding:5px;
	border: 1px solid #333;
	text-shadow:#666 1px;		
}

#header {
	width: 100%;
	height: 120px;
	background-color: #e6e6e6;
	border-bottom: 1px solid #ffffff;
}

#logos {
	width: 1014px;
	margin: auto;
}

#logos img {
	border: 0px;
}

#tipos {
	width:950px;
	height:120px;
	border: 1px solid #333;
	color:#ed2d2d;
	background:#fff;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}

#tipos td {
	height:25px;
	width:100px;
	border-right:solid #333 1px;
	text-align:center;
	padding:2px;	
}

#navbar {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	margin-top:10px;
}

.tipo_cliente {
	cursor:pointer;
}

.ttip_tipos{
	font-size:10px;
}

.ttip_tipos input{
	width:100px;
}

.qtip-wiki{
	max-width: 440px;
}

.qtip-wiki .qtip-content{
	padding: 10px;
	line-height: 12.5px;
}

.qtip-wiki h1{
	margin: 0 0 7px;
	font-size: 1.5em;
	line-height: 1em;
}

.qtip-wiki img{
	padding: 0 10px 0 0;
}

.qtip-wiki p{
	margin-bottom: 9px;
}

.qtip-wiki .note{
	margin-bottom: 0;
	font-style: italic;
	color: #888;
}

